/*
 * CSS file for all the pages styling.
 * 
 * @author Chris Luo
 */

html, body{
  height: 100%;
  background-color: #E3D584;
  /*Figure out how to load faster*/
  background-image:url("http://www.templateof.com/postpic/2013/11/pink-parchment-paper-texture_374534.jpg");
}

@font-face {
  font-family:Jacques;
  src:url("Jacques.ttf");
}

h1{
  position: relative;
  top: -75px;
  font-family: Jacques;
  font-size: 48px;
  display: inline-block;
  margin: 0 0;
  z-index: 1;
  /* background: transparent; */
  pointer-events: none;
}

#header{
  display:block;
  text-align:center;
  height: 75px;
}

#year{
  position: relative;
  left: 12px;
}

#clock{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90px;
  top: -20px;
  /* left: 100px; */
  cursor:pointer;
  z-index: 0;
}

#events{
  /* position: relative; */
  /* bottom: -30px; */
  display:block;
  margin:0 auto;
  text-align:center;
  width: 600px;
  height: 50px;
  resize:none;
  box-shadow: 2px 2px 3px #000000;
  overflow-y:scroll;
  border:2px solid #AB9A6C;
  background-image:url("http://img15.deviantart.net/df70/i/2009/113/5/6/western_parchment_paper_by_fish_hook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:5px;
}

/* The actual messages that go into the event window */
.mes{
  font-family:Jacques;
  font-size: 25px;
  margin: 10px 0;
}

.black{
  color:black;
}

.red{
  color:#ff3333;
}

.white{
  color:white;
}

.green{
  color:green;
}

.blue{
  color:#ffa64d;
}

/*----------------------*/

canvas{
  text-align:left;
}

#canvasWorld{
  position: relative;
  display: block;
  top: 10px;
  width: 1408px;
  height: 480px;
  margin: 0 auto;
  overflow-y: scroll;
  border: 2px solid black;
  border-radius:5px;
}

#userBar{
  position: fixed;
  height: 60px;
  width: 1408px;
  border: 2px solid black;
  bottom: 10px;
  left: 14px;
  background-color: #275FA8;
  z-index:0;
  box-shadow: 2px 2px 2px black;
  border-radius:5px;
  /* margin: 0 auto; */
}

.userBtn{
  position:absolute;
  display:inline-block;
  height:50px;
  width:150px;
  font-family:"Garamond";
  font-size: 18px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius:10px;
  box-shadow: 2px 2px 2px black;
}

.userWindow{
  position:absolute;
  width:350px;
  height:225px;
  background-color:gray;
  border: 2px solid black;
  top:175px;
  margin-right:2px;
  transition-duration: 0.5s;
  z-index:10;
  box-shadow: 2px 2px 2px black;
  border-radius:5px;
}

#addNationWindow{
  height: 300px;
  top: 100px;
}

.windowTopFiller{
  height:20px;
}

.windowLabel{
  position:relative;
  display: block;
  margin: 20px 0;
  left: 20px;
  font-family:Garamond;
}

.windowInput{
  position: absolute;
  margin: 5px 0;
  width: 125px;
  top: 15px;
  right: 20px;
  font-family:Garamond;
}

.windowSubmit{
  position: absolute;
  width: 100px;
  height:30px;
  left:125px;
  bottom: 15px;
  display:block;
  z-index:-1;
  font-family:Garamond;
  border-radius: 10px;
  border: 1px solid black;
  background-color:white;
}

.dropBtn{
  display:block;
  position:relative;
  width:100px;
  left:20px;
  margin: 20px 0;
  cursor:pointer;
  font-family:Garamond;
  border-radius: 10px;
  border: 1px solid black;
}

.dropDown{
  position: absolute;
  visibility:hidden;
  right: 20px;
  width: 200px;
  box-shadow: 2px 2px 2px black;
  overflow-y:scroll;
  height:100px;
  z-index:3;
  border-radius: 3px;
  background-color:white;
}

#typeDropDown{
  top: 45px;
}

.typeRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
}

.typeRadio:hover{
  background-color: #858A8C;
}

#nationDropDown{
  top: 141px;
}

.toRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
}

.toRadio:hover{
  background-color: #858A8C;
}

#typeLabel{
  position: absolute;
  width: 200px;
  right: 20px;
  top: 0;
  cursor: pointer;
  font-family: "Garamond";
}

#nationLabel{
  position:absolute;
  width: 200px;
  right: 20px;
  top: 97px;
  cursor: pointer;
  font-family: "Garamond";
}

#newEventSubmit{
  z-index:2;
}

button{
  transition-duration: 0.3s;
  background-color:#F0FBFF;
}

button:focus {
  outline:0;
}

button:hover{
  background-color:#36F57C;
}