/*
 * CSS file for all the pages styling.
 * 
 * @author Chris Luo
 */

html, body{
  height: 100%;
  background-color: #E3D584;
  background-image:url("http://www.templateof.com/postpic/2013/11/pink-parchment-paper-texture_374534.jpg");
}

@font-face {
  font-family:Garamond;
  src:url("Garamond.ttf");
}

@font-face {
  font-family:Jacques;
  src:url("Jacques.ttf");
}

h1{
  font-family: Jacques;
  font-size:48px;
	display: inline-block;
  margin: 0 0;
}

#header{
	display:block;
	text-align:center;
}

#year{
	position: relative;
	left: 12px;
}

#events{
  display:block;
  margin:0 auto;
  text-align:center;
  width:650px;
  height: 75px;
  resize:none;
  box-shadow: 2px 2px 3px #000000;
  overflow-y:scroll;
  border:2px solid #AB9A6C;
  background-image:url("http://img15.deviantart.net/df70/i/2009/113/5/6/western_parchment_paper_by_fish_hook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* The actual messages that go into the event window */
.mes{
  font-family:Jacques;
  font-size:25px;
  margin:20px 0;
}

.black{
  color:black;
}

.red{
  color:#ff3333;
}

.white{
  color:white;
}

.green{
  color:green;
}

.blue{
  color:#ffa64d;
}

/*********/

canvas{
	text-align:left;
}

#canvasWorld{
	position: relative;
  display: block;
	top: 15px;
	width: 1408px;
  height: 425px;
	margin: 0 auto;
  overflow-y: scroll;
  border: 2px solid black;
}

#userBar{
  position: fixed;
  height: 75px;
  width: 1410px;
  border: 2px solid black;
  bottom: 25px;
  left: 10px;
  background-color: #275FA8;
  z-index:0;
  box-shadow: 2px 2px 2px black;
}

.userBtn{
  position:absolute;
  display:inline-block;
  height:50px;
  width:150px;
  font-family:"Garamond";
  font-size: 18px;
  margin:12px 0;
}

.userWindow{
  position:absolute;
  width:350px;
  height:225px;
  background-color:gray;
  border: 2px solid black;
  top:175px;
  margin-right:2px;
  transition-duration: 0.5s;
  z-index:10;
  box-shadow: 2px 2px 2px black;
}

#addNationWindow{
  height:275px;
  top:125px;
}

.windowTopFiller{
  height:20px;
}

.windowLabel{
  position:relative;
  display:inline-block;
  margin: 5px 0;
  left: 20px;
  font-family:Garamond;
}

.windowInput{
  position: absolute;
  margin: 5px 0;
  width: 100px;
  right: 20px;
  font-family:Garamond;
}

.windowSubmit{
  position: absolute;
  width: 100px;
  height:30px;
  left:125px;
  bottom: 20px;
  display:block;
  z-index:-1;
  font-family:Garamond;
}

.dropBtn{
  display:block;
  position:relative;
  left:20px;
  margin: 20px 0;
  cursor:pointer;
  font-family:Garamond;
}

#typeDropDown{
  position: absolute;
  visibility:hidden;
  left: 20px;
  top: 45px;
  background-color:white;
  width:200px;
  box-shadow: 2px 2px 2px black;
  overflow-y:scroll;
  height:100px;
  z-index:3;
}

.typeRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
}

.typeRadio:hover{
  background-color: #858A8C;
}

#nationDropDown{
  position: absolute;
  visibility:hidden;
  left: 20px;
  top: 140px;
  background-color:white;
  width:200px;
  box-shadow: 2px 2px 2px black;
  overflow-y:scroll;
  height:100px;
  z-index:3;
}

.toRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
}

.toRadio:hover{
  background-color: #858A8C;
}

#typeLabel{
  position: absolute;
  width: 150px;
  left: 200px;
  top: 0px;
}

#nationLabel{
  position:absolute;
  width: 150px;
  left: 200px;
  top: 105px;
}

#newEventSubmit{
  z-index:2;
}