html, body{
    height: 100%;
    background-color: #E3D584;
    background-image:url("http://www.templateof.com/postpic/2013/11/pink-parchment-paper-texture_374534.jpg");
}

h1{
	display: inline-block;
	margin-top:10px;
	margin-bottom:0;
}

#header{
	display:block;
	text-align:center;
}

#year{
	position: relative;
	left: 12px;
}

canvas{
	text-align:left;
}

#canvasWorld{
	position:relative;
  display:block;
	top:25px;
	display:block;
	width:1408px;
  height: 320px;
	margin: 0 auto;
  overflow-y:scroll;
  border: 2px solid black;
}

#events{
  display:block;
  margin:0 auto;
  text-align:center;
  width:60%;
  height: 100px;
  font-family: "Arial";
  font-size: 32px;
  resize:none;
  box-shadow: 2px 2px 3px #000000;
  overflow-y:scroll;
  border:2px solid gray;
  background-color:white;
}

#credits{
  position: relative;
  left:10px;
  top:25px;
}

#userBar{
  position: fixed;
  height: 100px;
  width: 1410px;
  border: 2px solid black;
  bottom: 25px;
  left: 10px;
  background-color: brown;
  /*overflow-y:scroll;*/
  z-index:0;
}

.userBtn{
  position:fixed;
  display:inline-block;
  height:70px;
  width:150px;
  margin: 15px 150px;
  font-family:"Arial";
  font-size: 18px;

}

.userWindow{
  position:relative;
  float:left;
  width:466px;
  height:200px;
  background-color:gray;
  border: 1px solid black;
  top:200px;
  margin-right:2px;
  transition-duration: 0.5s;
  z-index:10;
}

.windowInput{
  position: absolute;
  right: 75px;
}

.dropBtn{
  display:block;
  position:relative;
  left:75px;
  margin: 15px 0;
  cursor:pointer;
}

#typeDropDown{
  position: absolute;
  visibility:hidden;
  left: 75px;
  top: 45px;
  background-color:white;
  width:200px;
  box-shadow: 2px 2px 2px black;
  overflow-y:scroll;
  height:100px;
  z-index:3;
}

.typeRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
}

.typeRadio:hover{
  background-color: #858A8C;
}

#nationDropDown{
  position: absolute;
  visibility:hidden;
  left: 75px;
  top: 145px;
  background-color:white;
  width:200px;
  box-shadow: 2px 2px 2px black;
  overflow-y:scroll;
  height:100px;
  z-index:3;
}

.toRadio{
  margin: 5px 0;
  display:block;
  color:black;
  margin-left:10px;
  width:180px;
  cursor:pointer;
  /*z-index:10;*/
}

.toRadio:hover{
  background-color: #858A8C;
}

#typeLabel{
  position: absolute;
  left: 275px;
  top:0px;
}

#nationLabel{
  position:absolute;
  left:275px;
  top:95px;
}

.windowSubmit{
  position: relative;
  top: 20px;
  display:block;
  margin:0 auto;
  z-index:-1;
}

#newEventSubmit{
  z-index:2;
}

.mes{
	font-family:"Arial";
}

.black{
  color:black;
}

.red{
  color:#ff3333;
}

.white{
  color:white;
}

.green{
  color:#66ff99;
}

.blue{
  color:#ffa64d;
}
